@import "../../variables";

.profile-main {
    background: $gray-bg-color;
    min-height: 100vh;
    width: 82%;
    padding-top: 3.5rem;
    justify-content: flex-start;

    .profile-container {
        width: 70%;
        margin: 0rem auto;
        gap: 10rem;

        .top-section {
            .profile-details-container {
                align-items: flex-start;
                gap: 10rem;

                .profile-img {
                    img {
                        width: 15rem;
                        height: 15rem;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .profile-details {
                    align-items: flex-start;
                    gap: 2rem;

                    .profile-name-edit-btn {
                        gap: 2rem;

                        button {
                            font-size: 1.2rem;
                            font-weight: 600;
                            padding: .9rem 1rem;
                            border-radius: .4rem;
                        }

                        .profile-follow-btn {
                            .followBtn {
                                font-size: 1.4rem;
                                color: $white-color;
                                background-color: $primary-btn-color;
                                padding: .8rem 1.7rem;
                                border-radius: .4rem;
                                letter-spacing: 1px;

                            }

                            .unfollowBtn {

                                font-size: 1.4rem;
                                color: #000;
                                letter-spacing: 1px;
                                background-color: $white-color;
                                padding: .8rem 2rem;
                                border-radius: .4rem;
                            }

                        }
                    }

                    .followers-followings-post-count {
                        gap: 2rem;

                        .follower,
                        .following {
                            cursor: pointer;
                        }

                        span {
                            font-size: 1.5rem;

                            span {
                                font-weight: 600;
                            }
                        }
                    }

                    .profile-name-bio {
                        max-width: 400px;


                        h4 {
                            font-size: 1.5rem;
                            line-height: 1.7;
                        }

                        p {
                            font-size: 1.3rem;
                            max-width: 400px;

                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }

            }
        }

        .bottom-section {
            width: 100%;
            border-top: 1px solid $light-border-color;

            .navigation {
                gap: 5rem;

                button {
                    background: transparent;
                    text-transform: uppercase;
                    color: $white-color;
                    font-size: 1.3rem;
                    gap: .8rem;
                    line-height: 4;

                }

                .active-section {
                    border-top: 2px solid $white-color;
                }
            }

            .post-section {
                .inner-post-section {
                    min-height: 400px;
                    gap: 2rem;

                    .user-post {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 4rem;
                        margin: 2rem 0rem 4rem 0rem;




                        .userSinglePost {
                            width: 220px;
                            height: 220px;
                            cursor: pointer;
                            position: relative;


                            img {
                                width: 100%;
                                height: 100%;

                            }
                        }

                    }

                    .camera-icon {
                        background: transparent;
                        border: 2px solid $light-border-color;
                        padding: 1.5rem;
                        border-radius: 50%;
                    }

                    .share-text {
                        h3 {
                            line-height: 2.4;
                        }

                        p {
                            font-size: 1.3rem;
                        }
                    }

                    .share-btn {
                        button {
                            font-size: 1.4rem;
                            background: transparent;

                            color: $primary-btn-color;
                        }
                    }
                }
            }
        }
    }
}