$primary-btn-color: #0095F6;
$primary-bg-color: #fafafa;
$white-color: #ffffff;
$dark-color: #000000;
$gray-bg-color: #121212;
$link-text-color: #8e8e8e;
$border-color: #dbdbdb;
$hover: #3578E5;
$light-border-color: #262626;
$gredient-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$pink-color: #E1306C;
$red-color: #FF0000;